@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

/* **************** NAVI ****************** */

.navbar {
  text-transform: uppercase;
  font-weight: 400;
  font-size: .9rem;
  background-color: red;
}


/* ****************** HERO *************** */
.home-inner {
  position: absolute;
  background-image: url(img/toys.jpg);
  background-position: center;
  background-size: cover;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 35%;
  z-index: 1;
  color: #2784cc;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem 1rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  letter-spacing: .1rem;
}

@media  screen and (max-width: 600px) {
  .caption {
    top: 25%;
  }

  .caption h1 {
    font-size: 3rem;
  }

  .caption h3 {
    font-size: 1.8rem;
  }
}

/* ****************** ABOUT US ************** */

#therapy {
  background-color: gray;
}


/* ******************* THERAPY **************** */

.course {
  margin-top:20px;
  margin-bottom:20px;
}

.course .course-img {
  position: relative;
  display:block;
  margin-bottom:20px;
  border-radius:4px;
  overflow:hidden;
}

.course .course-img > img {
  width:100%;
}

.course-img:after {
  content:"";
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  background-color:#FF6700;
  opacity:0;
  -webkit-transition:0.2s opacity;
  transition:0.2s opacity;
}

.course .course-img:hover:after {
  opacity:0.7;
}

.course .course-img .course-link-icon {
  position:absolute;
  left:50%;
  top:50%;
  -webkit-transform: translate(-50% , calc(-50% - 15px));
      -ms-transform: translate(-50% , calc(-50% - 15px));
          transform: translate(-50% , calc(-50% - 15px));
  width:40px;
  height:40px;
  line-height:40px;
  text-align:center;
  border:2px solid #fff;
  color:#fff;
  border-radius:50%;
  opacity:0;
  z-index:10;
  -webkit-transition:0.2s all;
  transition:0.2s all;
}

.course .course-img:hover .course-link-icon {
  -webkit-transform: translate(-50% , -50%);
      -ms-transform: translate(-50% , -50%);
          transform: translate(-50% , -50%);
  opacity:1;
}

.course .course-title {
  display:block;
  height:42px;
}

.course .course-details {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #EBEBEB;
}

.course .course-details .course-price {
  float: right;
}

.course .course-details .course-price.course-free {
  color: green;
}

.course .course-details .course-price.course-premium {
  color: #FF6700;
}

#courses .center-btn {
  text-align:center;
  margin-top:40px;
}














/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
