@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

/* **************** NAVI ****************** */

.navbar {
  text-transform: uppercase;
  font-weight: 400;
  font-size: .9rem;
  background-color: red;
}


/* ****************** HERO *************** */
.home-inner {
  background-image: url(img/toys.jpg);
} 

@media screen and (max-width: 992px) {
  .home-inner {
    max-height: 80vh;
  }
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 35%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem 1rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  letter-spacing: .1rem;
}

@media  screen and (max-width: 600px) {
  .caption {
    top: 25%;
  }

  .caption h1 {
    font-size: 3rem;
  }

  .caption h3 {
    font-size: 1.8rem;
  }
}
















/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
